@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*body, html {
  background:  linear-gradient(175deg, #ff7e5f 0%, #00d2ff 100%);
  margin: 0;
  padding: 0;
  width: 100%; 
   

}*/


body {
  background-image: url('/treasure.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.custom-font {
  font-family: 'Your desired font family', sans-serif; /* Replace with your actual font */
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s infinite;
}


/* Glitter button */ 
.glitter-button {
  text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px #ff0080, /* Quelques touches de rose flashy */
      0 0 30px #ff0080,
      0 0 40px #ff0080,
      0 0 55px #ff0080,
      0 0 75px #ff0080;
}

.glitter-button:hover {
  animation: glitter 4s linear infinite;
}






@keyframes glitter {
  0% {
      text-shadow:
          0 0 5px #fff,
          0 0 10px #fff,
          0 0 15px #fff,
          0 0 20px #ff0080, 
          0 0 30px #ff0080,
          0 0 40px #ff0080,
          0 0 50px #ff0080,
          0 0 75px #ff0080;
  }
  50% {
      text-shadow:
          0 0 5px #fff,
          0 0 10px #fff,
          0 0 15px #fff,
          0 0 20px #ffd700, 
          0 0 30px #ffd700,
          0 0 40px #ffd700,
          0 0 50px #ffd700,
          0 0 75px #ffd700;
  }
  100% {
      text-shadow:
          0 0 5px #fff,
          0 0 10px #fff,
          0 0 15px #fff,
          0 0 20px #ff0080,
          0 0 30px #ff0080,
          0 0 40px #ff0080,
          0 0 50px #ff0080,
          0 0 75px #ff0080;
  }
}







